<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intel Map - No Map Specified</title>
	<link rel="stylesheet" href="../Content/bootstrap.css">
	<link rel="stylesheet" href="../Content/site.css">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script>
        function getUrlParameter(sParam) {
			var sPageURL = decodeURIComponent(window.location.search.substring(1)),
				sURLVariables = sPageURL.split('&'),
				sParameterName,
				i;

			for (i = 0; i < sURLVariables.length; i++) {
				sParameterName = sURLVariables[i].split('=');

				if (sParameterName[0] === sParam) {
					return sParameterName[1] === undefined ? true : sParameterName[1];
				}
				return '@Model.InitialMap';
			}
		};
		function getMapRegionName() {
			var split = getUrlParameter('map').split("/");
			return split[split.length - 1];
		};

		var mapName = getMapRegionName();

        if (mapName != null) {
			document.title = 'Intel Map - ' + mapName.replace(/\_/g, ' ');
	    }
	</script>
</head>
<body style="background-color: #000000">
	@RenderBody()
</body>
</html>