@model R3MUS.Devpack.SSO.IntelMap.ViewModels.MapFiles
	<div class="container-fluid body-content">
		<div class="row text brand small title-row">
			@Html.Partial("_TitleBar")
		</div>
		<div class="row" onclick="HideMenu()">
			<div class="col-lg-10 map">
				<script>document.write("<object data='../maps/" + getUrlParameter('map') + ".svg' id='map' type='image/svg+xml' class='map-size'></object>")</script>
			</div>
			<div class="col-lg-2">
				<div id="help" class="menu text brand small hover-link" onclick="displayAboutThis()">
					About this (click me)
				</div>
				<div style="visibility: hidden;">
					<input type="text" id="cock" />
					<input type="button" onclick="Process($('#cock').val())" />
				</div>
				<div id='no-logger-warning' class='alert alert-warning' style='display: none;'>
					<h5 style='text-align: center;'>Noone seems to be logging intel.</h5>
					<h5 style='text-align: center;'>It may be a good idea to download the logger from the map selection menu &amp; run it.</h5>
				</div>
				<div id="log" class="text log">
				</div>
			</div>
		</div>
		<hr />
		<footer class="text brand">
			<p>&copy; <label id="cright">@DateTime.Now.Year</label> - Raised By Wolves Inc.</p>
		</footer>
	</div>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="/Scripts/jquery-1.10.2.min.js"></script>
	@Scripts.Render("~/bundles/bootstrap")
	<script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/SiteScripts.js"></script>